#container { width:764px; margin:0px auto 0px;padding:2px 0 2px 5px; margin-top:50px; }
.lof-slidecontent{
	position:relative;
	overflow:hidden;
	width:600px;
	height:278px;
}
.lof-slidecontent .preload{
	height:100%;
	width:100%;
	background:#FFF;
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	color:#FFF;
	text-align:center
}
.lof-slidecontent .preload div{
	height:100%;
	width:100%;
	background:url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
}
.lof-main-outer{
	position:relative;
	height:278px;
	width:433px;
	z-index:3px;
	overflow:hidden;
	float:left
}

.mainCont{height:278px;}

/******************************************************************************************/

.lof-main-item-desc{
	/*z-index:100px;
	position:absolute;
	top:0px;
	left:20px;
	width:200px;
	height:208px;
	background:url(../images/transparent_bg.png);*/
	

	/* filter:0.7(opacity:60) */
}
.lof-main-item-desc p{
	color:#FFF;
	margin:0 8px;
	padding:8px 0;
	font-size:12px;
	min-height:55px
}
.lof-main-item-desc h3 a{
	color:#fed101;	
	margin:0;
	font-size:100%;
	padding:20px 8px 2px;
	font-family: tahoma,sans-serif;
	text-decoration:none
}
.lof-main-item-desc h3 a:hover{
	color:#fed101;
	text-decoration:none;
}


/* main flash */
ul.lof-main-wapper{
	/* margin-right:auto; */
	overflow:hidden;
	background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
	padding:0px;
	margin:0;
	height:278px;
	width:535px;
	position:absolute;
	overflow:hidden;
}

ul.lof-main-wapper li{
	overflow:hidden;
	padding:0px;
	margin:0px;
	height:100%;
	width:433px;
	float:left;
}
.lof-opacity  li{
	position:absolute;
	top:0;
	left:0;
	float:inherit;
}
/*ul.lof-main-wapper li img{
	padding:0px;	
	width:600px;
}*/

li-desc{
	z-index:100px;
	position:absolute;
	top:150px;
	left:50px;
	width:400px;
	background:url(../images/transparent_bg.png);

	/* filter:0.7(opacity:60) */
}
li-desc p{
	color:#FFF;
	margin:0 8px;
	padding:8px 0
}
li-desc h3 a{
	color:#fed101;	
	margin:0;
	font-size:140%;
	padding:20px 8px 2px;
	font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
}
li-desc h3 a:hover{
	color:#fed101;
	text-decoration:none;
}

/* item navigator */
ul.lof-navigator{
	float:left;
	padding:0;
	margin:0;
	width:167px;
	height:278px !important;
	/*position:absolute;
	top:0;
	width:100%;*/
}
ul.lof-navigator li{
	cursor:hand; 
	cursor:pointer;
	list-style:none;
	width:100%;
	padding:0;
	margin:0 0 1px 0;
	overflow:hidden;
	height:55px !important;
}
.lof-navigator-outer{
	z-index:100;
	/*height:300px;
	position:absolute;
	right:2px;
	top:3px;*/
	overflow:hidden;
	color:#FFF;
	height:278px !important;
	background-color:#203a0d;
}
.lof-navigator li.active{
	background:url(../images/arrow-bg.png) no-repeat scroll left center; 
	color:#FFF
}
.lof-navigator li:hover{
	
}


.lof-navigator li h3{
	color:#797b7b;
	font-size:12px;
	padding:3px 0 0 !important;
	margin:0;

}
.lof-navigator li div{
	/*background:url(../images/fl-arrow-btn.png) no-repeat;*/
	color:#FFF !important;
	text-align:left;
	font-weight:normal;
	font-size:13px;
	text-transform:uppercase;
	height:100%;
	position:relative;
	padding:21px 0 0 50px;
	/*padding-left:10px;
	border-right:1px solid #c4cccc;
	border-left:1px solid #c4cccc;*/
	height:34px !important;
}

.lof-navigator li.active div a{
	/*background:url(../images/grad-bg.gif);
	color:#797b7b;*/
	border-left:none;
	color:#FFF;
}
/*.lof-navigator li img{
	height:60px;
	width:60px;
	margin:15px 15px 10px 0px;
	float:left;
	padding:3px;
	border:#C5C5C5 solid 1px;
}*/
.lof-navigator li.active img{
	border:##6C8E5C  solid 1px;
}
.lof-navigator li.active h3{
	color:#797b7b;
}