/*CSS Reset*/
* {margin:0;padding:0;outline:0;border:none;line-height:1;vertical-align:baseline;}
ul, ol {list-style-type:none;}
a {text-decoration:none}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing:0;}

body { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; }
.cl { clear:both; }
.fl { float:left; }
.rl { float:right;}
.blank-hgt-10 { float:left; margin-top:10px; width:100%; }
.MB { margin-bottom:10px;}
#logohold { margin:0 auto; padding:0; width:910px; height:100%; overflow:hidden; }
.logo { float:left; margin:0; padding:0; }
.contactno { float:right; margin:0; padding:0; }

.lang-btn-hold { float:right; margin:55px 0 0 0; padding:0; }
.english-btn { background:url(../images/english-btn.jpg) no-repeat center top; width:70px; height:18px; float:left; margin:0 1px 0 0; padding:0; }
.english-btn:hover { background:url(../images/english-btn.jpg) no-repeat center bottom; }
.english-btn-select { background:url(../images/english-btn.jpg) no-repeat center bottom; width:70px; height:18px; float:left; margin:0 1px 0 0; padding:0; }

.tamil-btn { background:url(../images/tamil-btn.jpg) no-repeat center top; width:70px; height:18px; float:left; margin:0; padding:0; }
.tamil-btn:hover { background:url(../images/tamil-btn.jpg) no-repeat center bottom; }
.tamil-btn-select { background:url(../images/tamil-btn.jpg) no-repeat center bottom; width:70px; height:18px; float:left; margin:0; padding:0; }

#navhold { margin:0 auto; padding:0; width:910px; height:30px;}
.home-btn { background:url(../images/home-icon.png) no-repeat center bottom; float:left; margin:0; padding:0; width:38px; height:30px; }
.home-btn:hover { background:url(../images/home-icon.png) no-repeat center top; }
.home-btn-selected { background:url(../images/home-icon.png) no-repeat center top; float:left; margin:0; padding:0; width:38px; height:30px; }

#menuhold { background:url(../images/menu-bg.jpg) no-repeat; float:left; margin:0; padding:0; width:872px; height:30px }

.menu { height: 30px; margin: auto; width: 872px; }
.strbold { font-weight: bold; }
ul.dropdown { position: relative; z-index: 100; }
ul.dropdown li { float: left; font-size: 12px; font-weight: bold; }
ul.dropdown li a.mainlink { color:#fff; }
/*ul.dropdown a:hover { background:url(../images/drop_arrow3.png) no-repeat right 10px top 15px #761a4b; color: #FFFFFF; }*/
ul.dropdown a.mainlink:hover { background:#7ac143; color: #FFFFFF; }
ul.dropdown li a { /*border-right: 1px solid #B3B2B0;*/ color: #761a4b; display: block; padding: 11px 15px 7px 15px; text-transform: uppercase; font-weight:normal; }
ul.dropdown li a.selected { background:#7ac143; color: #FFFFFF; }
ul.dropdown li:last-child a { border-right: medium none; }
ul.dropdown li.hover, ul.dropdown li:hover {  color: #FFFFFF; position: relative; }
ul.dropdown li.hover a { }
ul.dropdown ul { /*-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: -moz-use-text-color #9D7B8D; border-image: none; border-style: none solid; border-width: 0 1px; box-shadow: 3px 3px 3px #6E6255;*/ left: 0; position: absolute; top: 100%; visibility: hidden; width: 150px; }
ul.dropdown ul li { background: none repeat scroll 0 0 #ed1556; border-left: 1px solid #7f7f7f; border-bottom: 1px solid #7f7f7f; border-right: 1px solid #7f7f7f; color: #FFFFFF; float: none; font-size: 11px; font-weight: normal; }
ul.dropdown ul li a { border-right: medium none; color: #FFF; display: inline-block; padding: 10px 0; text-indent: 10px; text-transform: uppercase; width: 100%; }
ul.dropdown ul li a:hover { background: none repeat scroll 0 0 #7ac143; color:#fff; }
ul.dropdown ul ul { left: 100%; top: 0; }
ul.dropdown li:hover > ul { visibility: visible; }

#midcont-holder { background:url(../images/slider-bg.jpg) repeat-x top; float:left; margin:25px 0 0 0; padding:0; width:100%; height:100%; overflow:hidden;}
#midcont-inner-holder { background:url(../images/slider-inner-bg.jpg) repeat-x top; float:left; margin:25px 0 0 0; padding:0; width:100%; height:100%; overflow:hidden;}
#slider-holder { width:910px; margin:0 auto; }

#hp-conthold { width:910px; margin: auto; padding:0; height:100%; overflow:hidden; }

#hp-leftcont { width:600px; margin:0; padding:0; float:left; }
#hp-leftcont h2 { background:url(../images/hp-featuredcont-bg.jpg) no-repeat; font-size:14px; font-weight:normal; color:#FFF; text-transform:uppercase; margin:0; padding:14px; height:12px; }
.more-icon { float:right; margin:-1px 55px 0 0; padding:0; }

#hp-rightcont { width:289px; margin:0 0 0 21px; padding:0; float:left; }
#hp-rightcont h2 { background:url(../images/hp-imagegal-bg.jpg) no-repeat; font-size:14px; font-weight:normal; color:#FFF; text-transform:uppercase; margin:0; padding:14px; height:12px; }
.imggal-hold { background:url(../images/imagegal_bg.jpg) no-repeat; float:left; margin:0; padding:20px; width:249px; height:240px  }

.hp-viewgallery { font-size:11px; color:#444444; float:right; margin:12px 0 0 0; padding:0; text-decoration:none; text-transform:uppercase; }
.hp-viewgallery:hover { color:#FFF; }

#footer-hold{ background:url(../images/footer-bg.jpg) no-repeat; width:910px; margin:15px auto; padding:0; }
#footer { width:890px; margin:0; padding:10px; height:50px; }
#footer ul { float:left;}
#footer ul li {float:left; margin:0; padding: 30px 15px 6px; border-right:1px solid #9d9d9d; list-style-type:none; display:inline; }
#footer ul li a { font-size:12px; color:#fff; text-decoration:none;  }
#footer ul li a:hover { color:#FFF; }

.copyright { float:right; margin:35px 0 0 0; padding:0; font-size:12px; color:#444444; }

#breadcrumshold { margin:0 auto; padding:0; width:910px;}
.breadcrum-text { font-size:11px; color:#686868; text-transform:capitalize; }
.breadcrum-text:hover { color:#000; }
.breadcrum-text-active{ font-size:11px; color:#ed174c; text-transform:capitalize; }

#inner-leftcont { width:250px; margin:0; padding:0; float:left; }

#inner-rightcont { width:640px; margin:0 0 0 20px; padding:0; float:left; }
#inner-rightcont h2 { background:url(../images/pageheader-bg.jpg) no-repeat; width:620px; float:left; margin:0 0 10px 0; padding:10px; font-size:17px; font-weight:normal; color:#FFF; text-transform:uppercase; }
#inner-rightcont h3{font-weight:normal; font-size:15px; text-transform:uppercase; color:#ed1556; padding-bottom:10px;}
#inner-rightcont p { font-size:12px; color:#3d3d3d; line-height:18px; text-align:justify; width:600px; float:left; margin:5px 0 0 0; padding:0; }

.img-pad-10 { float:left; margin:10px 10px 0 0; padding:0; }
#downloadpdf-hold { float:left; margin:10px 0 0 0; padding:0; width:200px; }
#downloadpdf-hold p  { background:url(../images/pdf-bg.jpg) no-repeat; float:left; margin:4px 0 0 0; padding:9px; width:182px; height:17px; }
#downloadpdf-hold p a { color:#FFF; margin:0; padding:0 0 0 10px; }
#downloadpdf-hold p a:hover { color:#000;}

ul.units { float:left; margin:10px 0 0 0;}
ul.units li { font-size:12px; color:#3d3d3d; line-height:18px; list-style:disc; margin: 0 0 0 20px; padding:0;}

.dl-brochure { background:url(../images/dl-brochure.png) no-repeat center top; float:left; margin:0; padding:0; width:200px; height:28px; }
.dl-brochure:hover { background:url(../images/dl-brochure.png) no-repeat center bottom; }

#large_img { float:left; margin:0; padding:30px 0 0 20px; width:435px; height:270px; background:#8c1316; }
.caption { font-size:15px; font-weight:normal; color:#fff; width:620px; background:url(../images/caption-bg.jpg) no-repeat; padding:8px; margin:0;}
/*#thumb_images { float:left; margin:10px 0 0 0; padding:0; width:637px; }*/
.gallery-img { float:left; margin:10px 0 0 0; padding:0; width:637px; height:174px }
.gallery-img a { float:left; margin:0 2px 0 0; padding:0; }
.gallery-img a:hover { text-decoration:none; }

.zoomin { float:right; color:#FFF; }
.zoomin:hover { color:#CCC; }

.zoomin2 { float:left; margin:0; padding:0; }

.jCarouselLitenext { background: url(../images/carousel-navright.png) no-repeat center top; float: left; height: 25px; margin:0; padding: 0; width: 24px;}
.jCarouselLitenext:hover { background: url(../images/carousel-navright.png) no-repeat center bottom;}

.jCarouselLiteprev { background: url(../images/carousel-navleft.png) no-repeat center top; float: left; height: 25px; margin:0; padding: 0; width: 24px;}
.jCarouselLiteprev:hover { background: url(../images/carousel-navleft.png) no-repeat center bottom; }

ul.features { float:left; margin:0; height:100%; overflow:hidden; }
ul.features li { float:left; margin:0 15px 0 0; padding:0; width:145px; text-align:center; height:200px;}
ul.features li span { font-size:12px; color:#3d3d3d; display:inline-block; padding:5px 0 0 0; line-height:17px;}
.features-txt { background:#767676; float:left; margin:0; padding: 45px 0 0 25px; width:280px; height:100px; line-height:18px; text-align:left; font-size:13px; font-weight:normal; color:#FFF; }

#mycarousel { float:left; margin:0; padding:0; width:636px;}

.jcarousel { position: relative; overflow: hidden; }

.jcarousel ul { 
    width: 20000em;
    position: relative;
    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

/** Carousel Controls **/

.jcarousel-prev,
.jcarousel-next {
    position: absolute;
    top: 60px;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

.jcarousel-prev:hover,
.jcarousel-next:hover { background:#999; }

.jcarousel-prev {
    left: 0;
}

.jcarousel-next {
    right: 0;
}

.jcarousel-prev:hover span,
.jcarousel-next:hover span {
    display: block;
}

.jcarousel-prev.inactive,
.jcarousel-next.inactive {
    opacity: .5;
    cursor: default;
}

.greytd { background: #79be41; font-size:12px; color:#3d3d3d; padding:10px ; border: 1px solid #666;}
.greyinnertd { background: #c3c3c3; font-size:12px; color:#3d3d3d; padding:10px ; border: 1px solid #666; border-left:none; border-top:none;}
.whitetd { font-size:12px; color:#3d3d3d; padding:10px;  border: 1px solid #666; }
.whiteinnertd { font-size:12px; color:#3d3d3d; padding:10px;  border: 1px solid #666; border-left:none; border-top:none; }

/***************************************Accordian Starts**************************************/

.loading {display: none;}

.accordion li a {
    list-style-type: none;
	background:url(../images/active.jpg) no-repeat;
	border-bottom: 1px solid #c3c3c3;
	font-size:12px;
	text-transform:capitalize;
	color: #6f6f6f;
	display: block;
	font-weight:normal;
	padding: 8px 25px;
}
.accordion li a:hover {background:url(../images/active-hover.jpg) no-repeat; color:#FFF;}

.accordion li h3 a {
	border: none;
}
.accordion li h3 a:hover {background:url(../images/active-hover.jpg) no-repeat; color:#FFF;}

.activepage { color:#000 !important; }

.accordion li.active h3 a {
	background:url(../images/active-hover.jpg) no-repeat;
	color:#FFF;
	border-bottom: 1px solid #c3c3c3;
}

.accordion li.active ul li a {
	background:url(../images/active.jpg) no-repeat;
	color:#6f6f6f;
	border-bottom: 1px solid #c3c3c3;
	font-size:12px;
	margin:0 20px;
}

.accordion li.active ul li a:hover { color:#000 }

.accordian ul li ul li.active { color:#000 }

.accordion li.active a {
	background:url(../images/active-hover.jpg) no-repeat;
	color:#FFF;
	border-bottom: 1px solid #c3c3c3;
}




.accordion li.locked h3 a {
	background: #963;
	border-bottom: 1px solid #630;
	border-top: 1px solid #fc9;
}
.accordion .panel {
	padding: 0 0 10px 0;
}

.accordion li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    *zoom: 1;
}
.accordion ul li ul li a {
	background:none;
	float:left;
	width:200px;
	padding:5px;
}

.accordion .loading {
    display: none;
}
/***************************************Accordian Ends****************************************/

ul.tabs {
	background:url(../images/tabs-bg.jpg) no-repeat;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 40px;
/*	border-bottom: 1px solid #999;
	border-left: 1px solid #999;*/
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 40px;
	line-height: 31px;
	/*border: 1px solid #999;
	border-left: none;
	background: #e0e0e0;*/
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #fad0d7;
	display: block;
	font-size: 12px;
	padding: 15px 10px;
	/*border: 1px solid #fff;*/
	outline: none;
	text-transform:uppercase;
}
ul.tabs li a:hover {
	background:url(../images/tabs-bg-active.jpg) repeat-x;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background:url(../images/tabs-bg-active.jpg) repeat-x;
	/*background: #fff;
	border-bottom: 1px solid #fff;*/
}
.tab_container {
	/*border: 1px solid #999;
	border-top: none;*/
	clear: both;
	float: left; 
	width: 100%;
	/*background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;*/
}
.tab_content {
	padding:20px;
	width:850px;
}

.tab_content p {
	font-size: 12px;
	color:#3d3d3d;
	text-align:justify;
	line-height:18px;
	margin:0 0 10px 0;
}

.tab_content h2 {
	border-bottom: 1px dashed rgb(221, 221, 221);
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}



dl {
    margin-bottom:50px;
}
 
/*dl dt a {
    background:#c3c3c3;
    color:#444444;
    float:left;
    font-weight:normal;
    padding:10px; 
    width:890px;
	margin:0 0 10px 0;
}*/

dl dt a {
	background: none repeat scroll 0 0 #7AC043;
    color: #FFFFFF;
    float: left;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 10px;
    width: 890px;
}

dl dt a:hover { color:#333; }

/*dl dd {
	margin:5px 0 5px 20px;
	padding:0;
	float:left;
	width:840px;
	text-align:justify;
	display:none;
}*/

dl dd {
	background: none repeat scroll 0 0 #CCCCCC;
    float: left;
    margin: 0 0 10px;
    padding: 20px 30px;
    text-align: justify;
    width: 850px;
	display:none;
}

dl dd p {
	font-size:13px;
    padding:0 0 10px 0;
	line-height:20px;
}

dl dd ul { margin:0 0 10px 0 }
dl dd ul li { font-size:13px; margin: 3px 0 5px 25px; padding:0; width:800px; list-style-type:disc; line-height:18px; }


.sitemap-mainlink a
{
	font-size:14px;
	color:#666;
    float:left;
    font-weight:normal;
    padding:5px; 
	margin:0 0 5px 0;
}

.sitemap-mainlink a:hover {color:#000;}

.sitemap-sublink a
{
	font-size:13px;
	color:#666;
    float:left;
    font-weight:normal;
    padding:5px; 
	margin:0;
}

.sitemap-sublink a:hover {color:#000;}

.terms { font-size:12px; color:#444444; line-height:20px; margin:20px 0 0 30px; padding:0; width:830px; text-align:justify;}


.db-download-btn { background:url(../images/db-btn.jpg) no-repeat center top; float:left; margin:0; padding:0; width:250px; height:29px; }
.db-download-btn:hover { background:url(../images/db-btn.jpg) no-repeat center bottom; }

.db-hold { float:left; margin:20px 0 0 0; padding:0; width:250px; }

.contact-hold { border:1px solid #636363; float:left; margin:20px 0 0 0; padding:0; width:248px; }
.pcd-head { background:#aeca39; margin:0; padding:0; float:left; width:248px }
.pcd-head h2 { font-size:13px; color:#000; text-transform:uppercase; font-weight:normal; margin:15px 0 0 10px; padding:0; float:left; } 

.contact-details { background:#74aa05; padding:20px 10px 10px 10px; float:left; width:228px }
.contact-question { font-size:22px; color:#000; text-transform:uppercase; float:left; margin: 0 0 0 40px; padding:4px 0; }
.contact-answer { font-size:12px; color:#FFF; text-transform:uppercase; }
.contact-details p { float:left; margin:0 0 0 0; padding:0;}
.contact-answer a { color:#fff; }
.contact-answer a:hover { color:#000; }

.pageheader { background:url(../images/hp-featuredcont-bg.jpg) repeat-x; float:left; width:890px; margin:0; padding:10px; font-size:15px; color:#FFF; text-transform:uppercase; }

.thumbs { padding:7px; margin:5px; border:1px dashed #666666 }
.thumbs:hover { background:#666; padding:7px; margin:5px; border:1px dashed #FFF; }

.floortext { font-size:13px; color:#000; font-weight:normal; float:left; margin:10px 0 0 17px; padding:0; }
.featuretext { font-size:16px; color:#000; font-weight:normal; float:left; margin:10px 0 20px 10px; padding:0; width:100%; }


.news-feeds {height: 1%; position: relative; margin-top:20px;}
.news-feeds ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #faf7f0;
    border-color: #e0dfda #e0dfda -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    clear: both;
}
.news-feeds li {
    border-bottom: 1px solid #e0dfda;
    height: 1%;
    padding: 10px;
    position: relative;
}
.news-feeds li.on, .news-feeds li:hover {
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}
.news-feeds li a {
    font-size: 13px;
    font-weight: bold;
    line-height: 10px !important;
    margin-bottom: 0;
	color:#ed174c;
}
.news-feeds .feeds-date {
    font-style: italic;
    margin-top: 5px;
	color: #787775;
    display: block;
    font-size: 10px;
	font-weight:normal;
}